@media only screen and (max-width: 1650px) {
    .footer {
        width: 90vw;
    }

    .partner-title{
        width: 70%;
        margin: 5% 15% 2% 15%;
        text-align: left;
        border: 1px solid black;

    }

    .partner-text {
        width: 450px;
    }

}